:root {
    --blue: #1e90ff;
    --white: #ffffff;
    --primary: #ffd633;
    --secondary: #39ac73;
    --background: #FEFCF7;
    --text: #392200;
    --red: #f35050;
    --lighText: #d1c3ae;
    --textShadow: #d0ab63;
    --boxShadow: #f5ea8a;
    --dark: #333;
    --black: #000;
}

.h {
    /*background: aqua;*/
    font-size: 1rem;
    color: var(--white);
}

body {
    background-color: var(--background);
    color: var(--text);
}

canvas {
    margin-top: 24px;
    /*position: fixed;*/
    /*top: 0;*/
    /*left: 0;*/
    /*z-index: -1;*/
    /*height: 100%;*/
    /*width: 100%;*/
}

.bg-my-primary {
    background-color: var(--primary);
}

.bg-black {
    background-color: var(--black);
}

.my-btn {
    padding: 16px 8px;
    color: var(--lighText);
    text-shadow: 0 0 10px var(--textShadow);
    background-color: var(--dark);
    border: 1px solid var(--dark);
    border-radius: 18px;
    box-shadow: 0 0 20px var(--textShadow);
}

.link {
    color: var(--text);
    font-size: 24px;
}

.border-text-color {
    border-color: var(--text) !important;
}

.heart i {
    font-size: 30px;
    color: #f34242;
    animation: heart_ani 1s ease infinite alternate;
}

@keyframes heart_ani {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(2);
    }
}

.page-title {
    font-family: fantasy;
    font-size: 40px;
    line-height: 40px;
}

.page-subtitle {
    font-family: fantasy;
    font-size: 24px;
}

.map {
    margin-top: 20px;
    height: 400px;
}

/* head-1 */
.head-1 {
}

.head-1 .co-1 .avatar {
    width: 150px;
}

.head-1 .co-1 .content {
    flex: 1;
}

.head-1 .co-1 .content .title {
    font-size: 24px;
    font-weight: 500;
}

.head-1 .co-1 .content .description {
    font-size: 16px;
    font-style: italic;
}

.head-1 .co-1 .spa {
    height: 12px;
    width: auto;
}

.catW {
    width: 300px;
    height: 60px;
    background-image: url(../images/cat.png);
    background-repeat: no-repeat;
    background-size: cover;
    transform: rotateY(180deg);
    animation: walkEffect 1s steps(12) infinite;
}

@keyframes walkEffect {
    from {
        background-position-y: 0;
    }
    to {
        background-position-y: -800px;
    }
}

.dance {
    width: 110px;
    height: 126px;
    background-repeat: no-repeat;
    background-size: 880px;
    animation: danceEffect 1s steps(8) infinite;
    z-index: 2;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.danceShadow {
    width: 80px;
    height: 20px;
    background-color: var(--dark);
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: inset 0 0 10px var(--textShadow);
    /*z-index: -1;*/
    /*animation: danceShadowEffect 1s ease-in-out infinite;*/
}

@keyframes danceEffect {
    from {
        background-position: 0;
    }
    to {
        background-position: -880px;
    }
}


/*title*/
.animationSvgTitle svg path {
    fill: transparent;
    stroke: var(--text);
    stroke-width: 0.1;
    stroke-dasharray: 120;
    stroke-dashoffset: 120;
    animation: titleAnimation 4s ease-in-out infinite alternate;
}

@keyframes titleAnimation {
    0% {
        stroke-dashoffset: 120;
    }
    50% {
        fill: transparent;
    }
    100% {
        fill: var(--text);
        stroke-dashoffset: 0;
    }
}

/*title*/

/* head-1 */
.anh-moi {
    position: relative;
    /*display: inline-block;*/
}

.anh-moi .content {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
    color: white;
    background-color: rgba(241, 241, 241, 0.38);
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    font-family: "Lucida Grande";
}

.anh-moi img {
    /*-webkit-box-reflect: below 0px linear-gradient(transparent, #FFFFFF50);*/
}

/* time */
.box-time {
    width: 100%;
    box-shadow: inset 0 0 20px var(--boxShadow);
    padding-bottom: 24px;
}

.box-time-sub {
    margin: 0 24px;
}

.box-time .page-subtitle {
    color: #d1c3ae;
    text-shadow: 0 5px 10px #d0ab63
}
.box-time .border-text-color {
    box-shadow: 0 0 20px var(--boxShadow);
}
.tb-time {
    width: 120px;
    font-weight: 500;
}

.tb-cont {
    font-weight: 500;
    border-left: 1px solid #DEE2E6;
}

.tb-cont .link {
    font-size: 16px;
}

/* time */
